.container {
  padding: 10px;
  background-color: #fff;
  border: 1px solid black;
}

.title {
  line-height: 1.3;
  text-align: center;
}

.label {
  text-align: center;
  color: #2c2408;
}

.option {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 40px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 250ms linear;
}

.active {
  transform: scale(1.2);
}
